<html>
<head>
<meta charset="utf-8">
<title>Information</title>
<link rel="stylesheet" href="information.css">
</head>
<body>
<div class = "header">
	<div class = "会社名">
		<img src = "../../Library/Mobile Documents/com~apple~CloudDocs/.Trash/161128citizen_theory_of_relativity_top1-w960.jpg" width = "960" height = "540" alt = "">
		<p class = "会社名">会社名</p>
	</div>
</div>
<div class = "main">
	<div class = "introduction">
		<div class = "carry">
			<p>もったいないを、</p>
			<p>価値に変えよう。</p>
		</div>
		<div class = "pamyu">
			<p class ="pamyu">世の中の無駄になっている時間や在庫を活用して</p>
			<p class ="pamyu">商品やサービスが格安で体験できるアプリです。</p>
		</div>
	</div>
	<div class = "register">
		<p><%=link_to("ログイン，新規登録はこちらから","/login") %></p>
	</div>
</div>
<div class = "footer>
	<div class="footer-logo">会社名</div>
	<div class="footer-list">
		<ul>
			<li>会社概要</li>
			<li>採用</li>
			<li>お問い合わせ</li>
		</ul>
	</div>
</div>
</body>
</html>