<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="./assets/stylesheets/assets.css">
    <title>MyPage</title>
</head>
<body>
<h1>マイページ</h1>
<div class="top">
  <a href="">プロフィール</a>
  <span>保有資産</span>
</div>

<p>？さんの保有資産</p>

<div class="person">
  <p>Aさん</p>
  <p>保有時間？秒</p>
  <p>現在１秒あたり？円</p>
  <button type="button" onclick="location.href='?.html'">取引ページに進む</button>
</div>

<div class="person">
  <p>Bさん</p>
  <p>保有時間？秒</p>
  <p>現在１秒あたり？円</p>
  <button type="button" onclick="location.href='?.html'">取引ページに進む</button>
</div>

</body>
</html>
