<html>
    <head>
        <meta charset="utf-8">
        <title>option</title>
        <link rel="stylesheet" href="stylesheet2.css">
    </head>
    <body>
        <div class="senntaku">
            <ul>
                <li>Email Adress</li>
                <li>or</li>
                <li>Phone Number</li>
            </ul>
        </div>
    </body>
</html>