<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="./assets/stylesheets/personal.css">
    <title>MyPage</title>
</head>
<body>
<h1>マイページ</h1>
<div class="top">
  <span>プロフィール</span>
  <a href="#">保有資産</a>
</div>

<h2>名前（編集可）</h2>　<!名前とかはDBから取り出すと思うけどよくわからん>

<button type="button" onclick="location.href='#'">編集する</button>



<div class="profile">
  ここにプロフィールを書きます<br>
  ここにプロフィールを書きます<br>
  ここにプロフィールを書きます<br>
  <br>
  <br>
</div>



<p class="value">現在１秒あたり？円</p>
<p class="time">発行時間：？秒（編集可）</p>
<p class="capitalization">時価総額？円</p><br>



<div class="service">
<p class="content">提供内容</p>
  ここに提供内容を書きます<br>
  ここに提供内容を書きます<br>
</div>

</body>

</html>
