<<<<<<< HEAD
body {
  background-color: ;
}

nav ul{
	display: table;
	margin: 0 auto;
	padding: 0 ;
	width: 80%;
	text-align: center;
}
nav li{
	display: table-cell;
	min-width: 50px;
  list-style: none;
}
nav a{
	display: block;
	width: 100%;
	text-decoration: none;
	color: #555;
	padding-bottom: 5px;
}
.current{
	border-bottom: 3px solid #92D050;
}
nav li:hover{
	color: #E7DA66;
	border-bottom: 3px solid #A7F1FF;
}
nav a:hover {
  color: #ff6347;
}

=======
>>>>>>> 6c4e07bc94c7fd2a00fad4b043bd393e373cf0a5
p {

}

.top {
<<<<<<< HEAD
  border-bottom: 4px solid #A7F1FF;
  margin-bottom: 50px;
=======
  border-bottom: 1px solid;
>>>>>>> 6c4e07bc94c7fd2a00fad4b043bd393e373cf0a5
  text-align: center;

}
span {
<<<<<<< HEAD
  border-top: 4px solid #A7F1FF;
  border-left: 4px solid #A7F1FF;
  border-right: 4px solid #A7F1FF;
  border-bottom: 6px solid #fff;
  padding: 5px 5px 3px 5px;
  border-radius: 7px 7px 0px 0px;
}
.top a {
=======
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid #fff;
  padding: 5px 5px 3px 5px;
}
a {
>>>>>>> 6c4e07bc94c7fd2a00fad4b043bd393e373cf0a5
  padding: 20px 40px;
  text-decoration: none;
}
a:hover {
  color: #ff6347;
}

<<<<<<< HEAD

h2 {
  text-align: center;
=======
h2 {
  text-align: center;
  padding-top: 20px;
>>>>>>> 6c4e07bc94c7fd2a00fad4b043bd393e373cf0a5
  padding-bottom: 0px;
}
button {
  margin-right: 50px;
  font-size: 15px;
  float: right;
  margin-bottom: -1px;
<<<<<<< HEAD
  font-weight: bold;
  background-color: #248;
  color: #fff;
  border-style: none;
  border-radius: 5px;
}
button:hover {
  background-color: #24d;
  color: #fff;
=======
>>>>>>> 6c4e07bc94c7fd2a00fad4b043bd393e373cf0a5
}

.profile {
  padding-left: 200px;
  border: 1px solid;
  margin-top: 3px;
  padding-bottom: 10px;
}
.value, .time{
  font-size: 20px;
  padding-left: 200px;

}
.capitalization {
  text-align: right;
  font-size: 30px;
  margin-right: 20px;



}

.service {
<<<<<<< HEAD
  border-top: 2px solid #A7F1FF;
=======
  border-top: 1px solid ;
>>>>>>> 6c4e07bc94c7fd2a00fad4b043bd393e373cf0a5
  padding-left: 150px;
}
.content {
  font-size: 30px;
<<<<<<< HEAD
  margin-top: 30px;
  margin-bottom: 30px;
=======
>>>>>>> 6c4e07bc94c7fd2a00fad4b043bd393e373cf0a5
}
